@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-size: cover;
}

.navbar {
    border-radius: 10px;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-area {
    width: 930px;
}

.left-box {
    background: #2d3139;
}

.left-box img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.left-box h2 {
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

.right-box p {
    margin-bottom: 0%;
}

.right-box label {
    font-size: 15px;
}

.form-control {
    font-size: 16px; 
}

::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 15px; 
}

.card-img-top {
    width: 85%;
    margin: auto;
    display: block;
}

footer {
    border-radius: 15px; 
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1.5px solid #000;
}

.separator:not(:empty)::before {
    margin-right: .20em;
}

.separator:not(:empty)::after {
    margin-left: .20em;
}

@media only screen and (max-width: 768px) {
    .left-box {
        height: 100px;
        overflow: hidden;
        text-align: center;
    }

    .left-box img {
        width: 400px;
    }

    .right-box {
        padding: 20px;
    }

    .right-box h2 {
        font-size: 24px;
    }

    .right-box p {
        font-size: 14px;
    }

    .right-box label {
        font-size: 13px;
    }

    .form-control {
        font-size: 14px;
    }

    .separator {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    .text-center small {
        font-size: 12px;
    }
}